body {

		width: 100vw;
		height: 100vh;

		/* IE10+ */ 
		background-image: -ms-radial-gradient(80% bottom, ellipse farthest-corner, #602397 0%, #020146 80%, #134173 100%);

		/* Mozilla Firefox */ 
		background-image: -moz-radial-gradient(80% bottom, ellipse farthest-corner, #602397 0%, #020146 80%, #134173 100%);

		/* Opera */ 
		background-image: -o-radial-gradient(80% bottom, ellipse farthest-corner, #602397 0%, #020146 80%, #134173 100%);

		/* Webkit (Safari/Chrome 10) */ 
		background-image: -webkit-gradient(radial, 80% bottom, 0, 80% bottom, 572, color-stop(0, #602397), color-stop(80, #020146), color-stop(100, #134173));

		/* Webkit (Chrome 11+) */ 
		background-image: -webkit-radial-gradient(80% bottom, ellipse farthest-corner, #602397 0%, #020146 80%, #134173 100%);

		/* W3C Markup */ 
		background-image: radial-gradient(ellipse farthest-corner at 80% bottom, #602397 0%, #020146 80%, #134173 100%);


    margin: 0;
    padding: 0;
}

.ui-box {
	width: 22%;
	height: 100%;
	position: fixed;
	display: block;
	top:0;
	left: 0;
	/*background-color: rgba(255,255,255,.1);*/
	opacity: 1;
	color: white;
}
.ui-box p {
	padding-left: 10px;
}

#alpha-meter {
	display: block;
	width: 100%;
	height: 10px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: yellow;
}

canvas {
}

.node {
    stroke: none;
    fill: white;
}